body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: calc(10px + 2vmin);
    background-image: radial-gradient(circle at center, white, rgb(31, 184, 245));
}

p {
  text-align: center;
  margin-top: 0;
}
